.container {
    margin: auto;
    width: 100%;
}

h1 {
    font-family:'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: black;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: -5px;
    font-size: 35px;
    color: rgb(181, 181, 181);
}

body {
    color:rgb(38, 38, 38);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.padding {
    padding: 20px;
    margin: 20px;
}

.setting1-image-size { 
    height: 500px;
    width:auto;

}

.setting2-image-size {
    height: 300px;
    width: auto;
}

.prep2-image-size {
    height: 300px;
    width: auto;
}
.prep1-image-size {
    height: 300px;
    width: auto;
}

/*Jay's Quiz CSS Stuff*/
.bold{
    font-weight: bold;
}

.alata{
    font-family: Alata;
}

.bebasNeue{
    font-family: Bebas Neue;
}

.greyBackground{
    background-color: grey;
}

.greenBackground{
    background-color: #71BC78;
}

.yellowBackground{
    background-color: #F0E68C;
}

.redBackground{
    background-color: #F08080;
}

.lightgreyBackground{
    background-color: #F8F8F8;
}

.whiteText{
    color: white;
}

.greyText{
    color: #afafaf;
}

.greenText{
    color: #71BC78;
}

.redText{
    color: #F08080;
}


.middleText{
    text-align: center;
}

.headerFont{
    font-size: 60px;
    font-family: Righteous;
}

.subheaderFont{
    font-size: 20px;
    font-family: Alata;
}

.chestNums{
    font-size: 35px;
    font-family: Righteous;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*------------------------------------------------------------*/

.quizHeader{
    padding-top: 30px;
    padding-bottom: 20px;
}

.mediumText{
    font-size: 25px;
}

.nameInput{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    padding-left: 25px;
    font-size: 20px;
    border-width: 1px;
}

.smallPadding{
    padding-top: 15px;
    padding-bottom: 15px;
}

.startQuiz{
    width: 280px;
    border-width: 1px;
}

.dot {
  height: 40px;
  width: 40px;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
}

.dotAlign{
    text-align: right;
    padding-top: 60px;
}

.currentQuestion{
    border: 5px;
    border-style: solid;
}

.mcChoice{
    width: 275px;
    border-width: 1px;
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.mcPadding{
    padding-top:10px;
    padding-right: 10px;
}

.quizTransitionPadding{
    padding-top: 5px;
}

table{
  border: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 15px;
  table-layout: fixed;
}

th, td {
  border: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tableDim{
    width: 500px;
}

.tableDim2 {
    width:100%;
}

.quizEndReview{
    border-width: 1px;
    width: 200px;
    height: 40px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.2;
  text-decoration: none;
  pointer-events: none;
}

.cantClick{
    pointer-events: none;
}

.imageResize{
    height: 250px;
}

.startButton{
    width: 150px;
    height: 105px;
    border-radius: 10px;
    font-size: 40px;
}

.startButtonSpacing{
    padding-right: 50px;
}

.smallFont{
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.antiPadding{
    margin-bottom:-10px;
}

.margin {
    margin-left:70px;
}

.nomargin {
    margin-left: -10px;
    margin-right: -10px;
}

.smallerPadding{
    padding: 10px;
    margin: 3px;
}

.miniPadding{
    padding-top: 5px;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-10px;
}

.homecont {
    height: 500px;
    position: relative;
}

.lineHeightAdj {
    line-height: 115%;
}

.results {
    color: rgb(181, 181, 181);
    font-size: 20px;
}

#chestimg:hover {
    cursor:pointer;
}

#redChestCircle:hover {
    cursor:pointer;
}

.draggable {
    width: 165px;
    background-color: #71BC78;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

}

.tableText {
    font-size: 16px;
    color: white;
    font-weight: normal;
}

.absolute {
    position: absolute;
    top: 325px;
    left: 400px;
  }

.circle2 {
    cursor: pointer;
    position: absolute;
    top: 350px;
    left: 400px;
    width: 30px;
    height: 30px;
}

.circle3 {
    cursor: pointer;
    position: absolute;
    top: 328px;
    left: 460px;
    width: 30px;
    height: 30px;
}

.circle1 {
    cursor: pointer;
    position: absolute;
    top: 330px;
    left: 570px;
    width: 30px;
    height: 30px;
}

.defCursor {
    cursor:default;
}

.greybox {
    padding: 30px;
    margin: 30px;
    width: 400px;
    background-color: rgb(241, 241, 241);
}

#box {
    position: absolute;
    top: 325px;
    right: 394px;
}

.autowid {
    width: auto;
}

.rightpad {
    padding-right: 20px;
}

.navlinkcss {
    padding-right: 20px;
    font-size: 18px;
}

.active {
    color: black;
    font-weight: bold;
}

.redCircle{
    height: 125px;
    width: 125px;
    border: 10px;
    border-color: red;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    bottom: 75px;
    left: 72px;
}
/**/