{% extends "navbar.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'breaths.js') }}"></script>

<div class="padding"></div>

<div class="row alata headerFont bold quizHeader">Breaths checkpoint</div>
<div class="alata mediumText row">Click places on the head in the right order to start performing rescue breaths.</div>
<div class="miniPadding"></div>

<div id="images"></div>
<div id="box">  </div>

<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>

<div class="row">
    <div class="col-md-6"></div> 
    <div class="col-md-3">
        <div>
          <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="refresh">Try again</button>
        </div>
      </div>	
    <div class="col-md-3">
      <div>
        <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="nextbutton">Next</button>
      </div>
    </div>
</div>

<div class="padding"></div>

{% endblock %} 