{% extends "navbar.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alata"/>

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div class="homecont">
    <div class="padding"></div>
    <div class="center">
        <img src="/static/logo.jpg" class="center" width="200px">
    </div>
    <div class="antiPadding"></div>
    <div class="middleText">
        <div class="alata headerFont bold quizHeader antiPadding lineHeightAdj">Learn CPR,<br>hands-on (literally).</div><br>
        <!-- <div class="alata mediumText lineHeightAdj">Welcome to Hands-On, an<br>interactive introduction to CPR.</div><br> -->
        <div class = "mediumText alata"> Name (optional): </div>
        <div class="smallPadding">
            <input class="nameInput" type="text" id="userName" placeholder="John Smith">
        </div>
    </div>

    <div class="smallPadding"></div>

    <div class="center">
        <a class="nav-link" href="/learn/1">
            <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="startCPRBtn">Learn CPR</button>
        </a>
    </div>
</div>

{% endblock %}