{% extends "navbar.html" %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alata"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bebas Neue"/>

	<script type="text/javascript" src="{{ url_for('static', filename = 'imgQuestion.js') }}"></script>

	<script>
        let curQuestion = {{question|tojson}}
    </script>


	<div class="row">
	        <div class="col-md-8">
	            <div class="headerFont bold quizHeader">Question {{question.id}}</div>
				<div class="alata mediumText">{{question.questionText}}</div>
	        </div>
	        <div class="col-md-4 dotAlign">
	        	<span class="dot" id="dot1"></span><br>
				<span class="dot" id="dot2"></span><br>
				<span class="dot" id="dot3"></span><br>
				<span class="dot" id="dot4"></span>
	        </div>
	</div><br><br>

	<div class="row">
	  		<div class="col-md-2"></div>

	  		<div class="col-md-6">
	  			<div class = "row">
	  				<div class="col-md-5" id="chestText">
	  					<span class="startButtonSpacing">
			  				<button class="bebasNeue lightgreyBackground startButton smallPadding" id="startChestBtn"> Start </button>
			  			</span>
	  				</div>
	  				<div class="col-md-6" id="chestImg">
			  			<img src={{question.img}} class="imageResize" alt="Picture of a chest">
			  			<div id="redChestCircle"></div>
	  				</div>
	  			</div>	
	  		</div>

	        <div class="col-md-4 dotAlign">
	        	<div>
		        	<a id="reviewMaterialQuiz">
		            	<button class="alata greyBackground whiteText startQuiz smallPadding mediumText">Review this material</button>
		            </a>
	        	</div>

	        	<div class="quizTransitionPadding">
		        	<a id="nextQuestion" class="smallPadding">
						<button class="alata greenBackground whiteText startQuiz smallPadding mediumText"><span id="nextText"></span></button>
					</a>
	        	</div>
	        </div>
	</div>

	<div class="row">
	  	<div class="col-md-2"></div>
	  	<div class="col-md-6">
	  		<div id="imgResult" class="alata mediumText"></div>
	  	</div>	  		
	</div>

{% endblock %}