{% extends "navbar.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let content = {{content|tojson}}
    let user = {{user|tojson}}
</script>

<div class="smallPadding"></div>

<div class="row">
    <div class="alata headerFont bold quizHeader">{{content.title}}</div>
</div>

{% include content.template %}

<div class="smallPadding"></div>

<div class="row" id="btnrow">
    <div class="col-md-6"></div>
</div>

<div class="padding"></div>

<div id="confirm"></div>
{% endblock %}