{% extends "navbar.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alata"/>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let content = {{content|tojson}}
</script>

<div class="padding"></div>
<h1>{{title}}</h1>

<div class="row">
    <div class="alata headerFont bold quizHeader">{{content.title}}</div>
</div>
<div class="row">
    {% for text in content.explanatoryText %}
    <div class="alata mediumText">{{text}}</div><br>
    {% endfor %}
</div>
<div class="row">
    {% for img in content.images %}
        <img src="{{img}}" class="imageResize">
    {% endfor %}
</div>
<div class="padding"></div>
<div class="row">
    <div class="col-md-6"></div> 
    <div class="col-md-3">
        <div id="checkpoint"></div>
    </div> 		
    <div class="col-md-3">
      <div>
        <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="nextbutton">Next</button>
      </div>
    </div>
</div>

<div id="confirm"></div>

{% endblock %}