{% extends "navbar.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'prep.js') }}"></script>

<div class="padding"></div>

<div class="row alata headerFont bold quizHeader">Preparatory steps checkpoint</div>
<div class="alata mediumText row">Order the following items by precedence (drag and drop):</div>
<div class="miniPadding"></div>

<div class="row antiPadding">
    <div class="col-md-4" id="table"></div>
    <div class="col-md-8 miniPadding" id="steps"></div>
</div>

<div class="padding"></div>

<div class="row">
    <div class="col-md-6"></div> 
    <div class="col-md-3">
        <div>
          <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="refresh">Try again</button>
        </div>
      </div>	
    <div class="col-md-3">
      <div>
        <button class="alata greyBackground whiteText startQuiz smallPadding mediumText" id="nextbutton">Next</button>
      </div>
    </div>
</div>

<div class="padding"></div>

{% endblock %}