{% extends "navbar.html" %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alata"/>

	<script type="text/javascript" src="{{ url_for('static', filename = 'quizend.js') }}"></script>

	<div class="row">
	        <div class="col-md-8">
	            <div class="headerFont bold quizHeader">Quiz Results</div>
				<div class="alata mediumText"><span id="resultsIntro" class="bold"></span> You've finished the CPR quiz with a score of <span id="userScore" class="bold"></span>.</div>
	        </div>
	</div><br>

	<div class="row">
	  		<div class="col-md-6">
	  			<div class="alata mediumText" id="topicsText"></div><br>
	  			<div id="areasOfImprovement"></div>
	  		</div>
	  		<div class="col-md-1"></div>
	  		<div class="col-md-4">
	  			<table id="scoreTable" class="alata tableDim smallFont">
				  <tr>
				    <th>Name</th>
				    <th>Score</th>
				  </tr>
				</table>
	  		</div>
	        
	</div><br><br>

	<a href="/quiz">
		<button class="alata greyBackground whiteText startQuiz smallPadding mediumText"> Take the quiz again </button>
	</a>
	<a href="/">
		<button class="alata greenBackground whiteText startQuiz smallPadding mediumText"> New user </button>
	</a>

{% endblock %}