{% extends "navbar.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alata"/>

<script type="text/javascript" src="{{ url_for('static', filename = 'search.js') }}"></script>

<script>
    let learnMaterial = {{learnMaterial|tojson}}
    let titles = {{titles|tojson}}
    let content = {{content|tojson}}
    let num = {{num|tojson}}
    let searched = {{searched|tojson}}
</script>

<div class="padding"></div>

<div class="alata headerFont bold quizHeader">Search Results for "{{ searched }}":</div>
<div class="row smallerPadding"><div id="searched"></div></div>
<div class="row smallerPadding"><div id="title"></div></div>
<div class="row smallerPadding"><div id="tresult"></div></div>
<div class="row smallerPadding"><div id="content"></div></div>
<div class="row smallerPadding"><div id="cresult"></div></div>

{% endblock %}