{% extends "navbar.html" %}

{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "h1">
            Should you perform CPR?
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-8">
            <img src = "/static/setting1.png" class = "setting1-image-size">
        </div>
        <div class = "col-md-4">
            <img src = "/static/setting2.png" class = "setting2-image-size">
            <button type = "button" href = "/prep"> Preperatory Steps </button>
        </div>
    </div>
</div>

{% endblock %}