
<div class = row>
    <div class = "col-md-7">
        {% for img in content.images %}
        {% if img == content.images[0]%}
        <img src="{{img}}" height="{{content.imageSizes[loop.index0]}}" class="autowid">
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class = "row">
    <div class = "col-md-8">
        {% for text in content.explanatoryText %}
        <div class="alata mediumText row">{{text}}</div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% for img in content.images %}
        {% if img == content.images[1]%}
        <img src="{{img}}" height="{{content.imageSizes[loop.index0]}}" class="autowid">
        {% endif %}
        {% endfor %}
    </div>
</div>

